/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
  padding: 0 200px 0 280px;
  width: 100%;
}

.menu ul li {
  display: inline;
  margin-right: 20px;
}

.right{
  float: right;
}

.home h2 {
  color: white;
}

.main h2 {
  text-align:right;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}

.main .container {
  margin: 80px 0px;
}

.highlight {
  background-color: rgb(200,200,200);
  color: black;
  padding: 0px 10px;
}

.jumbotron {
  background-image: url(http://2fm9xz2drvqemrbu.zippykid.netdna-cdn.com/wp-content/uploads/2012/11/facebook-cover-photo-8.jpg);
  background-repeat: repeat;
  background-color: transparent;
  background-attachment: scroll;
  background-position: center center;
  background-origin: padding-box;
  background-size: cover;
  background-clip: border-box;
  width:100%;
  min-height: 600px;
}

.menu ul {
  padding-left: 0px;
  list-style: outside none none;
  font-size: 18px;
  height: 100px;
  line-height: 100px;
  font-weight: 500;
  margin-right: 20px;
}

.name h1{
  margin:0;
  font-size:18px;
  line-height:100px;
  height:100px;
  font-weight: 500;
  padding-right: 0px;
  float: right;
}

.btn {
  background-color: rgba(0,0,0,0.9);
  font-size: 18px;
  margin: 40px 0;
  font-weight: 100;
  color: white;
  height: 60px;
  line-height: 60px;
  width: 200px;
  padding: 0px;
  transition: background-color 0.5s ease 0s;
  border-radius: 0px;
}

.btn:hover {
    color: white;
    text-decoration: none;
    background-color: rgb(255,0,255)
}

.footer {
  width: 100%;
  height: 200px;
  text-align: right;
}

.footer .icons {
  margin:65px 0 20px;
  width: 100%;
}

.icons img {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}